@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Poppins:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

:root {
  --primaryColor: #acbdc9;
  --mainWhite: #fdfdfd;
  --offWhite: #f7f7f7;
  --mainBlack: #222e38;
  --mainGrey: #a7b2be;
  --darkGrey: #dddcd1;

  --nice-red: #ff3232;
  --nice-yellow: #e29e0b;
  --nice-purple: #572e57;

  --social-icon: var(--nice-yellow);
  --formBgColor: var(--mainGrey);
  --formColor: var(--mainWhite);

  --buttonBgColor: var(--nice-yellow);
  --buttonText: var(--mainBlack);

  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--nice-purple);
  color: var(--nice-yellow);
}

/*Fire force*/
* {
  scrollbar-width: thin;
  scrollbar-color: var(--nice-purple) rgba(var(--mainBlack), 0.5);
}
/*Chrome, Safari*/
*::-webkit-scrollbar {
  width: 15px;
}
*::-webkit-scrollbar-track {
  background-color: rgb(86, 88, 92);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--darkGrey);
  border-radius: 10px;
  border: 3px solid var(--nice-purple);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5,
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* Hero */
.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBcg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  background-image: url("./images/room-2.jpeg");
  min-height: 60vh;
}
/* End of Hero */
